@import './globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);

  h1 {
    font-size: 2rem;
  }
}

.main-nav  {
  font-size: 1.2rem;
}

.logo {
  font-size: 1.25rem;
}