@import './globals.css';
@import './crypto-view.css';

.page-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);

  h1 {
    font-size: 2rem;
  }
}

.main-nav  {
  font-size: 1.2rem;
}

.logo {
  font-size: 1.25rem;
}

.page-content {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}